* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 286px;
  top: 42px;
  width: 508px;
  height: 239px;
	animation: none 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 182px;
  top: 320px;
  width: 713px;
  height: 68px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 103px;
  top: 417px;
  width: 800px;
  height: 310px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	transform-origin: bottom left;
	z-index: 5;
}

.s100 {
	position: absolute;
  left: 911px;
  top: 706px;
  width: 142px;
  height: 79px;
	animation: flashLongOff 3s infinite;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes flashLongOff {
  0% {
    opacity: 0;
  }
  
  10%, 40%, 60%, 90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
