*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 0px;
  top: 317px;
  width: 713px;
  height: 99px;
	animation: revealHorizontalRight 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	clip: rect(0px,0px,100px,0px);
	z-index: 5;
}

@keyframes revealHorizontalRight {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,800px,100px,0px);
	opacity: 1;
  }
}

.s3 {
	position: absolute;
  left: 52px;
  top: 453px;
  width: 594px;
  height: 79px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 52px;
  top: 554px;
  width: 594px;
  height: 80px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 52px;
  top: 656px;
  width: 594px;
  height: 79px;
	animation: zoomIn 0.5s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 770px;
  top: 326px;
  width: 235px;
  height: 97px;
	animation: flashLongOn 2s infinite;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes flashLongOn {
  0%, 10%, 40%, 60%, 90%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}


.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7  {
  position: absolute;
  width: 1080px;
  height: 810px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 716px;
  top: 280px;
  width: 333px;
  height: 182px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 223px;
  top: 505px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 368px;
  top: 434px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 513px;
  top: 503px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 659px;
  top: 435px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 805px;
  top: 586px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 805px;
  top: 479px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	display: none;
	z-index: 20;
}