*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 425px;
  top: 321px;
  width: 158px;
  height: 102px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 608px;
  top: 356px;
  width: 150px;
  height: 28px;
	animation: zoomIn 0.5s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 462px;
  top: 464px;
  width: 261px;
  height: 90px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 316px;
  top: 609px;
  width: 552px;
  height: 100px;
	animation: zoomIn 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 812px;
  top: 90px;
  width: 112px;
  height: 112px;
	animation: stampIn 0.3s;
	animation-delay: 2.8s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}

@keyframes flashLongOn {
  0%, 40%, 80% {
    opacity: 0;
  }

  20%, 60%, 100% {
    opacity: 1;
  }
}


@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,110px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,750px,110px,0px);
	opacity: 1;
  }
}

@keyframes fadeInUpFast {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  
  20% {
    opacity: 1;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}