*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 315px;
  top: 55px;
  width: 448px;
  height: 125px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	transform-origin: top left;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 176px;
  top: 198px;
  width: 696px;
  height: 31px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 72px;
  top: 298px;
  width: 496px;
  height: 98px;
	animation: revealHorizontalRight 0.7s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	clip: rect(0px,0px,100px,0px);
	z-index: 15;
}

.s5 {
	position: absolute;
  left: 72px;
  top: 415px;
  width: 496px;
  height: 97px;
	animation: revealHorizontalRight 0.7s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	clip: rect(0px,0px,100px,0px);
	z-index: 15;
}

.s6 {
	position: absolute;
  left: 82px;
  top: 538px;
  width: 476px;
  height: 62px;
	animation: revealHorizontalRight 0.7s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	clip: rect(0px,0px,100px,0px);
	z-index: 15;
}

@keyframes revealHorizontalRight {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,510px,100px,0px);
	opacity: 1;
  }
}

.s7 {
	position: absolute;
  left: 637px;
  top: 475px;
  width: 287px;
  height: 200px;
	animation: zoomIn 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 15;
}

.s8 {
	position: absolute;
  left: 638px;
  top: 547px;
  width: 52px;
  height: 57px;
	animation: leftRight 1s infinite;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 15;
}

@keyframes revealHorizontalRight {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,1200px,100px,0px);
	opacity: 1;
  }
}

.s9 {
	position: absolute;
  left: 695px;
  top: 538px;
  width: 224px;
  height: 76px;
	animation: flashLongOff 2s infinite;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 682px;
  top: 446px;
  width: 118px;
  height: 78px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 856px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 3.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 871px;
  top: 446px;
  width: 125px;
  height: 109px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3.8s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes leftRight {
  0% {
  left: 638px;
  top: 547px;
  width: 52px;
  height: 57px;
  }

  50% {
  left: 618px;
  top: 547px;
  width: 52px;
  height: 57px;
  }
  
  100% {
  left: 638px;
  top: 547px;
  width: 52px;
  height: 57px;
  }
}