*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 315px;
  top: 55px;
  width: 448px;
  height: 125px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	transform-origin: top left;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 78px;
  top: 203px;
  width: 923px;
  height: 29px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 158px;
  top: 261px;
  width: 211px;
  height: 231px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: top;
	z-index: 15;
}

.s5 {
	position: absolute;
  left: 158px;
  top: 501px;
  width: 211px;
  height: 231px;
	animation: zoomIn 0.5s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	transform-origin: top;
	z-index: 15;
}

.s6 {
	position: absolute;
  left: 476px;
  top: 348px;
  width: 248px;
  height: 206px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	z-index: 15;
}

.s7 {
	position: absolute;
  left: 502px;
  top: 421px;
  width: 146px;
  height: 54px;
	animation: flashLongOff 2s infinite;
	animation-delay: 2.3s;
	animation-fill-mode: both;
	z-index: 15;
}

.s8 {
	position: absolute;
  left: 623px;
  top: 258px;
  width: 413px;
  height: 449px;
	animation: revealVerticalUp 0.7s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	clip: rect(600px,500px,600px,0px);
	z-index: 15;
}

@keyframes revealVerticalUp {
  0% {
    clip: rect(600px,500px,600px,0px);
  }
  
  100% {
    clip: rect(0px,500px,600px,0px);
  }
}

.s9 {
	position: absolute;
  left: 660px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 2.6s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 682px;
  top: 446px;
  width: 118px;
  height: 78px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 856px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 3.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 871px;
  top: 446px;
  width: 125px;
  height: 109px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3.8s;
	animation-fill-mode: both;
	z-index: 5;
}