*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 315px;
  top: 55px;
  width: 448px;
  height: 125px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	transform-origin: top left;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 162px;
  top: 198px;
  width: 757px;
  height: 66px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 350px;
  top: 275px;
  width: 334px;
  height: 496px;
	animation: revealVerticalUp 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 15;
}

@keyframes revealVerticalUp {
  0% {
    clip: rect(500px,350px,500px,0px);
  }
  
  100% {
    clip: rect(0px,350px,500px,0px);
  }
}

.s5 {
	position: absolute;
  left: 477px;
  top: 337px;
  width: 507px;
  height: 94px;
	animation: revealHorizontalRight 0.7s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	clip: rect(0px,0px,100px,0px);
	z-index: 15;
}

@keyframes revealHorizontalRight {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,510px,100px,0px);
	opacity: 1;
  }
}

.s6 {
	position: absolute;
  left: 172px;
  top: 429px;
  width: 413px;
  height: 97px;
	animation: revealHorizontalLeft 0.7s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	clip: rect(0px,510px,100px,510px);
	z-index: 15;
}

@keyframes revealHorizontalLeft {
  0% {
    clip: rect(0px,510px,100px,510px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,510px,100px,0px);
	opacity: 1;
  }
}

.s7 {
	position: absolute;
  left: 414px;
  top: 526px;
  width: 447px;
  height: 95px;
	animation: revealHorizontalRight 0.7s;
	animation-delay: 2.1s;
	animation-fill-mode: both;
	clip: rect(0px,0px,100px,0px);
	z-index: 15;
}

.s8 {
	position: absolute;
  left: 110px;
  top: 618px;
  width: 305px;
  height: 96px;
	animation: revealHorizontalLeft 0.7s;
	animation-delay: 2.4s;
	animation-fill-mode: both;
	clip: rect(0px,510px,100px,510px);
	z-index: 15;
}

.s9 {
	position: absolute;
  left: 660px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 2.6s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 682px;
  top: 446px;
  width: 118px;
  height: 78px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 856px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 3.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 871px;
  top: 446px;
  width: 125px;
  height: 109px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3.8s;
	animation-fill-mode: both;
	z-index: 5;
}