* {
	margin: 0px;
	padding: 0px;
}

#tab1 {
    position: absolute;
	top: 0px;
	left: 0px;
    width: 1080px;
    height: 810px;
	z-index: 1;
}

#tab2 {
    position: absolute;
	top: 0px;
	left: 0px;
    width: 1080px;
    height: 810px;
	display: none;
	z-index: 2;
}

#tab3 {
    position: absolute;
	top: 0px;
	left: 0px;
    width: 1080px;
    height: 810px;
	display: none;
	z-index: 3;
}

#tab4 {
    position: absolute;
	top: 0px;
	left: 0px;
    width: 1080px;
    height: 810px;
	display: none;
	z-index: 4;
}

#tab5 {
    position: absolute;
	top: 0px;
	left: 0px;
    width: 1080px;
    height: 810px;
	display: none;
	z-index: 5;
}