*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 239px;
  top: 267px;
  width: 602px;
  height: 125px;
	animation: zoomIn 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 15;
}

.s3 {
	position: absolute;
  left: 185px;
  top: 415px;
  width: 709px;
  height: 60px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 15;
}

.s4 {
	position: absolute;
  left: 305px;
  top: 474px;
  width: 470px;
  height: 200px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: top;
	z-index: 8;
}

.s5 {
	position: absolute;
  left: 500px;
  top: 487px;
  width: 80px;
  height: 84px;
	animation: fadeInDown 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 10;
}

.s6 {
	position: absolute;
  left: 202px;
  top: 471px;
  width: 174px;
  height: 116px;
	animation: zoomIn 0.5s;
	animation-delay: 1.7s;
	animation-fill-mode: both;
	transform-origin: top right;
	z-index: 15;
}

.s7 {
	position: absolute;
  left: 315px;
  top: 560px;
  width: 153px;
  height: 146px;
	animation: zoomIn 0.5s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	transform-origin: top right;
	z-index: 15;
}

.s8 {
	position: absolute;
  left: 461px;
  top: 618px;
  width: 158px;
  height: 145px;
	animation: zoomIn 0.5s;
	animation-delay: 1.9s;
	animation-fill-mode: both;
	transform-origin: top;
	z-index: 15;
}

.s9 {
	position: absolute;
  left: 628px;
  top: 560px;
  width: 87px;
  height: 146px;
	animation: zoomIn 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	transform-origin: top left;
	z-index: 15;
}

.s10 {
	position: absolute;
  left: 702px;
  top: 471px;
  width: 204px;
  height: 144px;
	animation: zoomIn 0.5s;
	animation-delay: 2.1s;
	animation-fill-mode: both;
	transform-origin: top left;
	z-index: 15;
}