* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 233px;
  top: 42px;
  width: 613px;
  height: 230px;
	animation: none 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 244px;
  top: 315px;
  width: 616px;
  height: 25px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 267px;
  top: 394px;
  width: 344px;
  height: 75px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 265px;
  top: 512px;
  width: 319px;
  height: 121px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 669px;
  top: 394px;
  width: 331px;
  height: 75px;
	animation: zoomIn 0.5s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 3;
}

.s7 {
	position: absolute;
  left: 695px;
  top: 495px;
  width: 271px;
  height: 219px;
	animation: zoomIn 0.5s;
	animation-delay: 1.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s100 {
	position: absolute;
  left: 911px;
  top: 706px;
  width: 142px;
  height: 79px;
	animation: flashLongOff 3s infinite;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes flashLongOff {
  0% {
    opacity: 0;
  }
  
  10%, 40%, 60%, 90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
