*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 315px;
  top: 55px;
  width: 448px;
  height: 125px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	transform-origin: top left;
	z-index: 10;
}

.s3 {
	position: absolute;
  left: 477px;
  top: 58px;
  width: 603px;
  height: 752px;
	animation: revealHorizontalRight1 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	clip: rect(0px,0px,800px,0px);
	z-index: 5;
}

@keyframes revealHorizontalRight1 {
  0% {
    clip: rect(0px,0px,800px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,700px,800px,0px);
	opacity: 1;
  }
}

.s4 {
	position: absolute;
  left: 85px;
  top: 233px;
  width: 493px;
  height: 155px;
	animation: revealHorizontalRight 0.7s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	clip: rect(0px,0px,210px,0px);
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 87px;
  top: 410px;
  width: 472px;
  height: 137px;
	animation: revealHorizontalRight 0.7s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	clip: rect(0px,0px,210px,0px);
	z-index: 5;
}

@keyframes revealHorizontalRight {
  0% {
    clip: rect(0px,0px,210px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,510px,210px,0px);
	opacity: 1;
  }
}

.s6 {
	position: absolute;
  left: 78px;
  top: 590px;
  width: 545px;
  height: 108px;
	animation: fadeInRight 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 105px;
  top: 245px;
  width: 155px;
  height: 172px;
	animation: flashLongOff 2s infinite;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 110px;
  top: 615px;
  width: 491px;
  height: 108px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 695px;
  top: 538px;
  width: 224px;
  height: 76px;
	animation: flashLongOff 2s infinite;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 682px;
  top: 446px;
  width: 118px;
  height: 78px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 856px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 3.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 871px;
  top: 446px;
  width: 125px;
  height: 109px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3.8s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes leftRight {
  0% {
  left: 638px;
  top: 547px;
  width: 52px;
  height: 57px;
  }

  50% {
  left: 618px;
  top: 547px;
  width: 52px;
  height: 57px;
  }
  
  100% {
  left: 638px;
  top: 547px;
  width: 52px;
  height: 57px;
  }
}