*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 315px;
  top: 55px;
  width: 448px;
  height: 125px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	transform-origin: top left;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 196px;
  top: 203px;
  width: 689px;
  height: 60px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 269px;
  top: 286px;
  width: 62px;
  height: 497px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 15;
}

.s5 {
	position: absolute;
  left: 290px;
  top: 302px;
  width: 541px;
  height: 497px;
	animation: revealHorizontalRight 0.7s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	clip: rect(0px,0px,550px,0px);
	z-index: 10;
}

@keyframes revealHorizontalRight {
  0% {
    clip: rect(0px,0px,550px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,550px,500px,0px);
	opacity: 1;
  }
}

.s6 {
	position: absolute;
  left: 351px;
  top: 354px;
  width: 147px;
  height: 192px;
	animation: revealVerticalDown 1s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	clip: rect(0px,150px,0px,0px);
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 615px;
  top: 388px;
  width: 114px;
  height: 126px;
	animation: revealVerticalDown 1s;
	animation-delay: 2.1s;
	animation-fill-mode: both;
	clip: rect(0px,150px,0px,0px);
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 736px;
  top: 359px;
  width: 26px;
  height: 30px;
	animation: revealVerticalUp 1s;
	animation-delay: 2.1s;
	animation-fill-mode: both;
	clip: rect(50px,40px,50px,0px);
	z-index: 5;
}

@keyframes revealVerticalDown {
  0% {
    clip: rect(0px,150px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,150px,200px,0px);
	opacity: 1;
  }
}

@keyframes revealVerticalUp {
  0% {
    clip: rect(50px,40px,50px,0px);
  }
  
  100% {
    clip: rect(0px,40px,50px,0px);
  }
}

.s9 {
	position: absolute;
  left: 847px;
  top: 353px;
  width: 147px;
  height: 166px;
	animation: revealVerticalDown 1s;
	animation-delay: 2.4s;
	animation-fill-mode: both;
	clip: rect(0px,150px,0px,0px);
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 682px;
  top: 446px;
  width: 118px;
  height: 78px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 856px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 3.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 871px;
  top: 446px;
  width: 125px;
  height: 109px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3.8s;
	animation-fill-mode: both;
	z-index: 5;
}