*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 315px;
  top: 55px;
  width: 448px;
  height: 125px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	transform-origin: top left;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 135px;
  top: 211px;
  width: 799px;
  height: 58px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 65px;
  top: 292px;
  width: 951px;
  height: 24px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 66px;
  top: 372px;
  width: 182px;
  height: 218px;
	animation: zoomIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 258px;
  top: 361px;
  width: 182px;
  height: 229px;
	animation: zoomIn 0.5s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 15;
}

.s7 {
	position: absolute;
  left: 450px;
  top: 350px;
  width: 181px;
  height: 240px;
	animation: zoomIn 0.5s;
	animation-delay: 1.6s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 15;
}

.s8 {
	position: absolute;
  left: 642px;
  top: 340px;
  width: 181px;
  height: 250px;
	animation: zoomIn 0.5s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 15;
}

.s9 {
	position: absolute;
  left: 833px;
  top: 329px;
  width: 182px;
  height: 261px;
	animation: zoomIn 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 150px;
  top: 617px;
  width: 383px;
  height: 63px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 580px;
  top: 617px;
  width: 340px;
  height: 63px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 295px;
  top: 700px;
  width: 491px;
  height: 57px;
	animation: fadeInUp 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}