*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 315px;
  top: 55px;
  width: 448px;
  height: 125px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	transform-origin: top left;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 142px;
  top: 210px;
  width: 797px;
  height: 59px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 65px;
  top: 292px;
  width: 951px;
  height: 24px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 66px;
  top: 371px;
  width: 181px;
  height: 219px;
	animation: zoomIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 258px;
  top: 360px;
  width: 181px;
  height: 230px;
	animation: zoomIn 0.5s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 15;
}

.s7 {
	position: absolute;
  left: 450px;
  top: 350px;
  width: 181px;
  height: 240px;
	animation: zoomIn 0.5s;
	animation-delay: 1.6s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 15;
}

.s8 {
	position: absolute;
  left: 642px;
  top: 340px;
  width: 181px;
  height: 250px;
	animation: zoomIn 0.5s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 15;
}

.s9 {
	position: absolute;
  left: 834px;
  top: 329px;
  width: 181px;
  height: 261px;
	animation: zoomIn 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 150px;
  top: 618px;
  width: 389px;
  height: 63px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 579px;
  top: 617px;
  width: 328px;
  height: 63px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 295px;
  top: 700px;
  width: 491px;
  height: 57px;
	animation: fadeInUp 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}