*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 315px;
  top: 55px;
  width: 448px;
  height: 125px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	transform-origin: top left;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 258px;
  top: 203px;
  width: 568px;
  height: 37px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 221px;
  top: 261px;
  width: 639px;
  height: 455px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 15;
}

.s5 {
	position: absolute;
  left: 338px;
  top: 334px;
  width: 472px;
  height: 304px;
	animation: revealHorizontalRight 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	clip: rect(0px,0px,400px,0px);
	z-index: 15;
}

@keyframes revealHorizontalRight {
  0% {
    clip: rect(0px,0px,400px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,500px,400px,0px);
	opacity: 1;
  }
}

.s6 {
	position: absolute;
  left: 82px;
  top: 382px;
  width: 389px;
  height: 89px;
	animation: zoomIn 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 76px;
  top: 502px;
  width: 192px;
  height: 200px;
	animation: zoomIn 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	transform-origin: top;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 287px;
  top: 502px;
  width: 193px;
  height: 200px;
	animation: zoomIn 0.5s;
	animation-delay: 2.8s;
	animation-fill-mode: both;
	transform-origin: top;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 660px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 2.6s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 682px;
  top: 446px;
  width: 118px;
  height: 78px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 856px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 3.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 871px;
  top: 446px;
  width: 125px;
  height: 109px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3.8s;
	animation-fill-mode: both;
	z-index: 5;
}